* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
h1 {
  color: goldenrod;
  font-family: cursive;
  font-size: rem;
  margin-left: 69px;
}
.titre img {
  position: relative;
  width: 5%;
  left: 100px;
}
nav a {
  text-decoration: none;
  margin: 20px;
}
.outils {
  margin-right: 40px;
}
.outils span{
    margin: 15px;
}
/* pour la section description*/
.description {
  height: 100vh;
  color: white;
  background-image: url(/img/bjx8.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}
.description h2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
}
.description p {
  font-size: 1.5rem;
  margin-top: 30px;
}
.description button {
  background-color: gold;
  height: 40px;
  width: 14rem;
  margin-top: 50px;
}
.logo{
    width: 20%;
    margin-left: 50rem;
}
/*pour la section des nouveautes*/
.categories{
    width:100vw;
    height: 350px;
    display: flex;
    padding: 20px;
    background-color: white;
    gap: 40px;
}
.categories img{
    
    height: 100%;
    margin-left: 40px;

}

