* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  position: relative;
}
h1 {
  color: goldenrod;
  font-family: cursive;
  font-size: rem;
  margin-left: 80px;
}
.titre img {
  position: relative;
  width: 5%;
  left: 100px;
}
nav a {
  text-decoration: none;
  margin-left: 70px;
  color: white;
  top: 20%;
}
nav a:hover{
  text-decoration: underline;
  color: goldenrod;
}
.outils {
  margin-right: 40px;
}
.outils span {
  margin: 15px;
}
/* pour la section description*/
.description {
  height: 100vh;
  color: white;
  background-image: url(../img/logo.jpg), url(../img/bjx1.jpg);
  background-size: 25%, 90%;
  background-repeat: no-repeat, no-repeat;
  background-position:
    right center,
    left center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
  position: relative;
}
.description h2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25%;
}
.description p {
  font-size: 1.5rem;
  margin-top: 30px;
  color: white;
  position: absolute;
  top: 25px;
}
.description button {
  background-color: gold;
  height: 40px;
  width: 14rem;
  margin-top: 50px;
  position: absolute;
  top: 60%;
}
.logo {
  width: 20%;
  margin-left: 50rem;
}
/*pour la section des nouveautes*/
.categories {
  width: 100%;

  display: flex;
  padding: 01px;
  background-color: white;
  border-radius: 14px;
  flex-wrap: wrap;
}
.categories img {
  height: 100%;
  width: 18vw;
  margin: 10px;
  border-radius: 2px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(218, 165, 32, 0.991);
}
.div1 {
  position: relative;
  height: 79%;
}
.donnee {
  background: rgba(0, 0, 0, 0.452);
  color: white;
  width: 90%;
  text-align: center;
  position: absolute;
  left: 5%;
  bottom: 1.5%;
  padding: 10%;
}
/*pour la section Nouveaute*/
.nouveaute {
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 15px;
}
h2 {
  color: black;
  text-align: center;
}

.div_princ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div2 img {
  height: 100%;
  width: 18vw;
  object-fit: cover;
  margin: 0;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(218, 165, 32, 0.991);
  margin: 10px;
}
.div2 p {
  margin-top: 8px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}
.div2 span {
  color: goldenrod;
  font-size: 1.5rem;
}
/* pour la section reasurance*/
.reasurance {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.politique h2 {
  color: white;
  font-size: 10px;
  margin: 10px;
  flex-direction: column;
}
/*pour la section colection populaire*/
.collect_popul {
  background-color: white;
  position: relative;
  padding: 10px;
}
.collect_popul h2 {
  color: black;
  text-align: center;
  position: absolute;
  left: 40%;
}
.collect_popul button{
  background-color: white;
  color: goldenrod;
  border: 1px solid goldenrod;
  height: 30px;
  padding: 5px;
  position: absolute;
  left: 45%;
  bottom: 2%;
  background-color: black;
}
.collect_popul a{
  text-decoration: none;
  color: goldenrod;
}
.populaire {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 20px;
}
.populaire img {
  height: 100%;
  width: 18vw;
  margin: 10px;
    box-shadow: 0 8px 20px rgba(218, 165, 32, 0.991);
  border-radius: 2px;
  object-fit: cover;
}
/*pour le footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.presentation{

}
.presentation h2{
  color:gold;
  font-size: 20px;
  margin-right:70px ;
  
}
.presentation p{
  margin-top: 20px;
}
.shop{
  padding: 0 60px;
}
.shop h2{
color: white;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.shop ul{
  
  list-style: none;
  padding: 10px 20px;
}
.shop a{
  text-decoration: none;
}
.shop a:hover{
  text-decoration: underline;
  color: white;
}
.news h2{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.news ul{
  
  list-style: none;
  padding: 10px 20px;
}
.shop li{
  margin-bottom: 10px;
}
.news a{
  text-decoration: none;
}
.news a:hover{
  text-decoration: underline;
  color: white;
}
.news li{
  margin-bottom: 10px;
}
.account{
  padding: 0 20px;
}
.account h2{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.account ul{
  
  list-style: none;
  padding: 10px 20px;
}
.account li{
  margin-bottom: 10px;
}
.account a{
  text-decoration: none;
}
.account a:hover{
  text-decoration: underline;
  color: white;
}
.letter{
padding:0 60px;
}
.letter h2{
  color: white;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 15px;
  
}
.letter input{
  margin: 10px;
  background-color: black;
  color: white;
  width: 100%;
  height: 40px;
  padding: 2px;
}
.letter button{
  background-color: goldenrod;
  width: 100%;
  height: 40px;
  margin-left: 12px;
}
.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.signature div {
  display: flex;
  gap: 50px;
}
.signature a {
  color: white;
  text-decoration: none;

}
